$sections: 4;
// width of svgs
$svg-w: 200px;
// kind of like a throttle, increase to add more scrolling
$section-height: 100vh;
// easing
$cubic-enter: cubic-bezier(1, 1.6, 0.3, 1);
$cubic-leave: cubic-bezier(0.32,-0.24, 0.24, 0.98);
// colors
$c-light: #737373;
$c-dark: #262626;

// body height
body {
  position: relative; // needed to stretch body to bottom
}

section {
  // sizing our sections
  height: $section-height;
  width: 100%;
  box-sizing: border-box;
  position: relative;

  // subtle white on hover
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background 250ms $cubic-leave;
    z-index: 2;
  }


  &:hover {
    // hide default message
    ~ .default {
      opacity: 0;
      visibility: hidden;
    }

    // show subtle white bg on section
    &::after {
      transition-timing-function: $cubic-enter;
      background: rgba(#FFF,0.05);
    }
  }

  // border reference between sections
  + section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    border-top: 1px solid rgba(#FFF,0.2);
  }

  // different backgorund color tints for each
  @for $i from 1 through $sections {
    &:nth-of-type(#{$i}) {
      div { background-color: hsl((($i - 1) / $sections * 360), 50%, 50%); }
    }
  }

  // section content
  // this is displayed fixed all the time,
  // but only visible when hovering over static section
  div {
    position: fixed;
    opacity: 0;
    top: 0; left: 0; right: 0;
    height: 100vh;
    transition: opacity 250ms linear;
    background-blend-mode: multiply;
  }
  article {
    width: 95%;
    max-width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 1rem 2rem;
    box-sizing: border-box;
    background: rgba(#000,0.9);
    box-shadow: 0px 1px 0px 2px rgba(#FFF,0.05);
    border-radius: 2px;
    transform: translateX(-50%) translateY(0%);
    transition: transform 500ms $cubic-leave;
  }
  h1 {
    margin-top: 1rem;
  }
  // show content on hover (when scrolling over it)
  // scroll to a switchpoint
  // move your mouse to top and then bottom of window
  // it should change the content because you are hovering
  // over a different section
  &:hover > div {
    opacity: 1;
    article {
      transform: translateX(-50%) translateY(-50%);
    }
  }
}


section > div,
div.bg {
  // .bg is the default background behind everything
  // section > div is for each section because they all need to mix with bg color for blend mode
  background-image: url(https://images.pexels.com/photos/279/black-and-white-branches-tree-high.jpg?cs=srgb&dl=bark-black-and-white-branches-279.jpg&fm=jpg);
  background-position: center;
  background-size: cover;
}

div.default {
  position: fixed;
  width: 100%;
  top: 50%;
  transition: opacity 250ms;
}

div.bg {
  position: fixed;
  pointer-events: none;
  top: 0; left: 0; right: 0;
  height: 100vh;
  background-blend-mode: multiply;
  background-color: $c-dark;
  z-index: -1;
}

// non essential style
body {
  background-color: $c-dark;
  color: $c-light;
}

h1 {
  font-weight: 100;
  width: 100%; text-align: center;
  margin-top: 0;
}

p {
  line-height: 1.6;
  font-weight: 100;
}
